// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}

.clearfix:after {
  clear: both;
}

/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix {
  zoom: 1;
}

/* logo on header */
body {
  > header {
    padding-top: 0.2em;
    padding-bottom: 1em;
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */

    font-size: 1.6em;
    border-bottom: 1px solid #cacaca;
    h1 {
      #logo {
        color: #242021;
        @extend .clearfix;
        font-family: 'Dancing Script', cursive;
        text-shadow: 1px 0 white;
        width: 150px;
        #practice {
          float: left;
          clear: right;
          border-bottom: 2px solid;
        }
        #over {
          display: none;
        }
        #theory {
          float: left;
          margin-top: -8px;
        }
      }
      a {
        text-decoration: none;
        /* color: #99b2b7; */
      }
    }
  }
}

/* typography */
body {
  font-family: "Helvetical Neue", Helvetica, "Lucida Grande", Arial, Verdana, sans-serif !important;
  font-weight: normal !important;
  color: #2b2d2f;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6, h7, h8 {
  font-family: 'Antic', sans-serif;
  font-weight: normal;
}

/* background pattern */
html {
  background: image-url('dark-wood.jpg') top left !important;
}

/* entry overrides */
article {
  .entry-content {
    color: #3d4045;
    a {
      color: #4669a2;
      &:hover {
        color: #4669a2;
      }
    }
  }
}

body > footer {
  border-top: 1px solid #eaeaea;
  background: #f2f2f2;
  color: #242021;
  text-shadow: none;
  border: none;
  a, a:visited, a:hover {
    color: #91b3c2;
  }
  /* padding-bottom: 0; */
}

div#feed {
  float: right;
  margin-top: 20px;
  a {
    text-decoration: none;
    #feed-icon {
      margin-top: 4px;
      width: 12px;
      height: 12px;
      text-decoration: none;
      display: block;
      float: left;
      background-image: image-url('rss.png');
      background-position: 0 0;
      &:hover {
        background-position: 12px 0;
      }
    }
  }
}

aside section {
  h1 {
    font-size: 1.6em;
  }
  ul {
    font-size: 1.2em;
  }
}
